.container {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    padding: 40px;
}

.div {
    display: grid;
    border: 1px solid;
    background: white;
    padding-bottom: 100%;
    
}