.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    padding: 2em;
}

.div {
    cursor: pointer;
    background: rgb(185, 130, 88);
    width: 4em;
    height: 4em;
}

.image {
    display:block;
}